.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    text-align: center;
    margin: 0px 12px 0px 12px;
    color: #ffffff;
    font-size: 12px;
    background-color: #111111;
    border-radius: 12px;
}

.btn span {
    user-select: none;
}

.btn:hover {
    background-color: #292929;
}